<div class="navbar navbar-default navbar-static-top" ng-init="isCollapsed = true">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Deathwing</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: $state.is('start')}"><a ui-sref="start">Start</a></li>
        <li ng-class="{active: $state.is('blog')}"><a ui-sref="blog">Blog</a></li>
        <li ng-class="{active: $state.is('about')}"><a ui-sref="about">&Uuml;ber</a></li>
        <li ng-class="{active: $state.is('courses')}"><a ui-sref="courses">Vorlesungen</a></li>
        <li ng-class="{active: $state.is('contact')}"><a ui-sref="contact">Kontakt</a></li>
      </ul>
    </div>
  </div>
</div>