<div ng-include="'components/navbar/navbar.html'"></div>
 
<div class="container">

  <div class="maincontent">
    <h2>Martina Kraus</h2>
  <div class="row content">
    <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4">
      <img id="me" class="shadow" src="app/img/me.jpg">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8">
      <p>Hallo, mein Name ist Martina Kraus und ich bin leidenschaftliche Software-Entwicklerin.
      Am liebsten bewege ich mich in der Webentwicklung, mit JavaScript (Front- und Backend)
      oder mit C#.<br>
      Nachdem ich 5 Jahre lang Projekterfahrung in Web-Projekten sammeln durfte, habe ich meine Master
      Thesis in der Automatisierungstechnik geschrieben und arbeite aktuell als Software Engineer im
      Embedded Systems Bereich.<br>
      Nebenbei halte ich als Lehrbeauftragte an der Hochschule Mannheim noch zwei Vorlesungen
      &uuml;ber Webanwendungen und NoSql - Datenbanken.
      </p>
    </div>
  </div>
    <h2>Profile im Web</h2>
      <ul class="profiles">
        <li>
          <a class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        <a href="https://twitter.com/wing121">@wing121</a></li>
        <li>
          <a class="btn btn-social-icon btn-github">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <a href="https://github.com/Deathwing121">Deathwing121</a></li>
        <li>
          <a class="btn btn-social-icon btn-google">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>
          <a href="https://plus.google.com/+MartinaKraus/posts">+MartinaKraus</a></li>
        <li>
          <a class="btn btn-social-icon btn-xing">
            <i class="fa fa-xing fa-2x"></i>
          </a>
          <a href="https://www.xing.com/profile/Martina_Kraus16">Martina Kraus</a></li>
      </ul>
  </div>
</div>