<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="maincontent shadow paddingspace">
    <h2 class="shadowheader">Blog</h2>
    <ol class="listnone">
      <li ui-sref="blogDetails({id: article.id})" class="shadow paddingspace" ng-repeat="article in articles">
        <h3 >{{article.name}}</h3>
        <p>{{article.teaser}}</p>
        <span class="blogfootnote">{{article.date}}</span>
        <span ng-repeat="tagvalue in article.tags">
          <a href="/{{tagvalue}}">{{tagvalue}}</a>
        </span>
      </li>
    </ol>
  </div>
</div>