<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="maincontent shadow paddingspace">
        <h2 class="shadowheader">Blog</h2>
        <span>Test</span>
    </div>
</div>